[core]
	autocrlf = input
[user]
	email = mcceztau@gmail.com
	name = miaocc
[alias]
	aa = add -A
	ca = commit --amend
	cm = commit -m
	co = checkout
	df = diff
	dfc = diff --cached
	dog = log --color --graph --all --decorate --pretty=format:'%C(auto)%h -%d %s %Cred%ai %C(bold blue)<%an>%Creset'
	dogd = log --color --graph --all --decorate --pretty=format:'%C(auto)%h -%d %s %C(bold blue)<%an>%Creset' --simplify-by-decoration
	dogs = log --color --graph --all --decorate --oneline --stat
	pl = pull
	po = push origin
	pr = pull --rebase
	pro = pull --rebase origin
	rb = rebase
	ri = rebase -i
	sb = status -sb
	sh = stash
	st = status
	sta = status
[push]
	default = matching
