[core]
	autocrlf = input
[user]
	email = mcceztau@gmail.com
	name = miaocc
[alias]
	aa = add -A
	ac = !git add -A && git status && git commit -a -m
	ca = commit --amend
	cm = commit -m
	co = checkout
	df = diff
	dfc = diff --cached
	doga = log --oneline --all --decorate --graph
	dog = log --color --graph --all --decorate --pretty=format:'%C(auto)%h -%d %s %Cred%ai %C(bold blue)<%an>%Creset'
	dogd = log --color --graph --all --decorate --pretty=format:'%C(auto)%h -%d %s %C(bold blue)<%an>%Creset' --simplify-by-decoration
	dogs = log --color --graph --all --decorate --oneline --stat
	hide = update-index --assume-unchanged
	po = push origin
	pro = pull --rebase origin
	ptf = push --tags -f origin
	rb = rebase
	ri = rebase -i
	rt = reset
	rth = reset --hard
	rts = reset --soft
	sb = status -sb
	sh = stash
	st = status
	sta = status
	td = tag --delete
	tf = tag -f
	tl = tag --list
	unhide = update-index --no-assume-unchanged
[push]
	default = matching
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
